<h1>Listing signspot_threads</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @signspot_threads.each do |signspot_thread| %>
  <tr>
    <td><%= link_to 'Show', signspot_thread %></td>
    <td><%= link_to 'Edit', edit_signspot_thread_path(signspot_thread) %></td>
    <td><%= link_to 'Destroy', signspot_thread, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thread', new_signspot_thread_path %>
