<%= form_for(@signspot_project) do |f| %>
  <% if @signspot_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@signspot_project.errors.count, "error") %> prohibited this signspot_project from being saved:</h2>

      <ul>
      <% @signspot_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
